html * {
  font-family: Outfit, "Big Shoulders", "Times New Roman", Times, serif;
  background-color: $crema;
  font-size: 18px;

  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3 {
    font-family: "Big Shoulders";
  }

  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 50px;
  }
  h3 {
    font-size: 40px;
  }
}

body {
  overflow-x: hidden;
}
